@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Indie+Flower&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Russo+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #1f1f1f;
  font-size: 16px;
  display: grid;
  grid-template-rows: 60px auto;
}

nav {
  height: 100%;
  width: 100%;
  background: #2b2b2b;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  overflow: hidden;
}

main {
  color: #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-menu {
  display: none;
}

.logo span {
  color: #35c94a;
  font-family: "Monoton";
  font-size: 2rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /*Firefox */
  -ms-user-select: none; /*IE10+/Edge */
  user-select: none; /*Standard */
}

.collapse_icon img {
  width: 1.8em;
}

.collapse_icon img:hover {
  cursor: pointer;
}

.tag-graphic {
  font-family: "Indie Flower", Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.3);
  -webkit-user-select: none; /*Safari*/
  -moz-user-select: none; /*Firefox*/
  -ms-user-select: none; /*IE10+/Edge*/
  user-select: none; /*Standard*/
}

.bullet-points {
  margin-bottom: 10%;
  display: flex;
  margin-left: 7%;
  min-width: 60%;
  max-width: 60%;
  justify-content: space-between;
}

.bullet-points span {
  display: inline;
  font-family: "Open Sans", Verdana, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 0.75em;
}

.message-container {
  width: 70%;
  margin-left: 7%;
  min-width: 280px;
}

.message {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  color: white;
}

.name {
  color: #35c94a;
  font-family: "Russo One", Arial, Helvetica, sans-serif;
}
.body-tag {
  margin: 5%;
}

.body-closing-tag {
  margin-left: 5%;
}

.html-closing-tag {
  margin-left: 3%;
  margin-bottom: 20%;
}

.button-container {
  margin: 5% 0 5% 7%;
}

.button-container a {
  color: #35c94a;
  border: 1px solid #35c94a;
  font-family: "Open Sans", Verdana, Tahoma, sans-serif;
  letter-spacing: 0.2em;
  font-size: 0.75rem;
  text-decoration: none;
  padding: 8px 30px;
}

.button-container a:hover {
  background: #35c94a;
  color: #1f1f1f;
}

@media only screen and (min-width: 480px) {
  .collapse_icon {
    visibility: hidden;
  }

  .message-container {
    max-width: 50%;
  }

  .bullet-points {
    min-width: 43%;
    max-width: 43%;
  }

  .icon-menu {
    display: flex;
  }

  .icon-menu div {
    height: 100%;
    width: auto;
    padding: 14px;
    margin: 0 10px;
  }

  .icon-menu div:hover {
    border-bottom: 1px solid #35c94a;
    cursor: pointer;
  }

  .icon-menu img {
    width: 25px;
    height: auto;
  }
}
