@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Indie+Flower&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 20px 180px;
}

.caption {
  display: block;
  /* width: 100%; */
  padding: 0 60px;
}

#colors,
#fonts,
#text-styles {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
}

.color {
  width: 250px;
  margin: 10px 10px 10px 60px;
  text-align: center;
}

#black {
  background: #1e1e1e;
  color: #cccccc;
}

#dark-grey {
  background: #333333;
  color: #cccccc;
}

#semi-dark-grey {
  background-color: #37373d;
  color: #cccccc;
}

#grey {
  background: #858585;
  color: black;
}

#light-grey {
  background: #cccccc;
}

#pink {
  background: #c586c0;
}

#blue {
  background: #4fc1ff;
}

#yellow {
  background: #dcdcaa;
}

#orange {
  background: #ce9178;
}

.font {
  margin: 10px 10px 10px 60px;
  text-align: center;
}

#indie-flower p {
  font-family: "Indie Flower";
  font-size: 20px;
}

#arvo p {
  font-family: "Arvo";
  font-size: 20px;
  text-align: left;
}

#monoton p {
  font-family: "Monoton";
  font-size: 20px;
  text-align: left;
}

#passion-one p {
  font-family: "Passion One";
  font-size: 20px;
  text-align: left;
}

.text-style {
  margin: 10px 10px 10px 60px;
}

#main-heading {
  width: 100%;
  border: 1px solid black;
  text-align: left;
  background: #333333;
}

#main-heading h1 {
  font-family: "Passion One", Arial, Helvetica, sans-serif;
  font-size: 45px;
  letter-spacing: 0.05em;
  line-height: 1em;
  margin: 0;
  color: white;
}

#main-heading h1 span {
  font-family: "Monoton", Arial, Helvetica, sans-serif;
  font-size: 52px;
  color: #cccccc;
}

#main-heading h1 span:hover {
  color: #4fc1ff;
}

#main-heading > #bp {
  margin: 5px 5px 0px;
  position: relative;
  left: -20px;
}

#main-heading #bp li {
  display: inline-block;
  color: #cccccc;
  position: relative;
  top: -10px;
  margin: 0 20px;
  font-family: "Indie Flower", Arial, Helvetica, sans-serif;
}

#text-styles ul {
  margin-left: 40px;
}
